<html>

    <header>
        <a href="/">Home</a>
    </header>

    <br><br>

    <table border='1px' >
        <thead>
            <td>id</td>
            <td>title</td>
            <td>edition</td>
            <td>copyright</td>
            <td>language</td>
            <td>pages</td>
            <td>author</td>
            <td>publisher</td>
        </thead>
        <tr>
                <td>3</td>
                <td>Computer Networks</td>
                <td>5th</td>
                <td>2010</td>
                <td>ENGLISH</td>
                <td>960</td>
                <td>Andrew S. Tanenbaum</td>
                <td>Pearson Education</td>
        </tr>
    
    
    </table>

</html>
