<html>

    <header>
        <a href="/">Home</a>
    </header>

    <br><br>

    <table border='1px' >
        <thead>
            <td>id</td>
            <td>title</td>
            <td>edition</td>
            <td>copyright</td>
            <td>language</td>
            <td>pages</td>
            <td>author</td>
            <td>publisher</td>
        </thead>
        <tr>
                <td>4</td>
                <td>Modern Operating Systems</td>
                <td>4th</td>
                <td>2014</td>
                <td>ENGLISH</td>
                <td>1136</td>
                <td>Andrew S. Tanenbaum</td>
                <td>Pearson Education</td>
        </tr>
    
    
    </table>

4,Modern Operating Systems,4th,2014,ENGLISH,1136,Andrew S. Tanenbaum,Pearson Education

</html>
