<table border='1px'>
        <thead>
            <td>id</td>
            <td>title</td>
            <td>edition</td>
            <td>copyright</td>
            <td>language</td>
            <td>pages</td>
            <td>author</td>
            <td>publisher</td>
        </thead>
        <tr>
                <td>1</td>
                <td>Operating System Concepts</td>
                <td>9th</td>
                <td>2012</td>
                <td>ENGLISH</td>
                <td>976</td>
                <td>Abraham Silberschatz</td>
                <td>John Wiley & Sons</td>
        </tr>


    </table>